@charset "utf-8";
/* CSS Document */

html {
}

body {
	font-size: 12px;
	color: #564b47;
	padding: 0 20px 0 20px;
	margin: 0;
	text-align: center;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

img#logo {
	margin-left: -120px;
	margin-top: 20px;
}

h1 {
	color: #1d22f0;
	font-weight: normal;
	text-transform: uppercase;
}

h2,
fieldset legend {
	color: #4b4c4d;
	font-weight: normal;
	font-size: 1.3em;
}

table {
	width:100%;
	padding: 0;
	margin: 0;
	cell-pad: 0;
}
table tr th {
	border-bottom:2px solid #ececec;
}
table tr th.w20 {
	width:20%;
}
table tr td {
	border-bottom:1px solid #ececec;
}

a,
a:visited {
	color: #96d21e;
	text-decoration: none;
}
a:hover {
	color: #96d21e;
	text-decoration: underline;
}

#wrap { 
  padding:0 10px 10px 10px;
  text-align: left;
  vertical-align: middle;	
  margin: 0px auto;
  width: 600px;
  border-left: 3px solid #1d22f0;
  border-right: 3px solid #ececec;
}

p.info {
	border: 2px solid #ececec;
	padding: 5px;
}

textarea.log {
	width:100%;
	height:200px;
}

form {
}

form ul {
	list-style-type: none;
	margin:0;
	padding:0;
}

form ul li {
	border-bottom:1px solid #ececec;
	padding:3px;
}

form p.buttons {
	text-align:right;
}

fieldset {
	border:0;
	border-top:2px solid #ececec;
}

/*
fieldset legend{
	font-weight: bold;
	padding:0 5px; 
}
*/

label {
	display:block;
	width:80px;
	float:left;
	text-align:right;
	line-height:1.5em;
	margin-right:5px;
}

ul#firstLevel {
	list-style: none;
	margin-left: -200px;
	margin-bottom: -150px;
	width: 150px;
}
ul#firstLevel li {
	text-align: right;
	margin: 5px 0;
}

ul#firstLevel li a {
	display: block;
	padding: 2px 15px;
	text-decoration: none;
	font-size: 1.9em;
	font-weight: normal;
	color: #1d22f0;
}

ul#firstLevel li a:hover,
ul#firstLevel li.current a {
	color: #ffffff;
	background-color: #1d22f0;
}



ul#secondLevel {
	text-align:right;
	padding:7px 5px;
	margin-top:15px;
	margin-bottom:-42px;
}
ul#secondLevel li {
	display:inline;
}

ul#secondLevel li a {
	border:1px solid #ececec;
	padding:7px;
}

ul#secondLevel li a:hover {
	background-color: #96d21e;
	color: #ffffff;
}

#map {
	margin:10px 0;
	height:400px;
	border-top:2px solid #ececec;
	border-bottom:2px solid #ececec;
	background-color: #ececec;
}