<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAoOnC-lqJNSFyH3kfjFZRnxRi_j0U6kJrkFvY4-OX2XYmEAa76BR1gHXtME6-_ixTZJUWTuVeHfPJlw" type="text/javascript"></script>

<script src="/static/global.js" type="text/javascript"></script>

<script type="text/javascript">
<!--
window.addEvent('domready', function() {		
    var center = new GLatLng($waypoint.latitude, $waypoint.longitude);
    mwm = new Map({
    	center: center,
    });
    mwm.place_marker(center);
	mwm.setup_marker_placement();
	mwm.setup_geocoder($('geocoder'));
})
//-->
</script>

<h1>edit waypoint</h1>

<fieldset><legend>Edit $waypoint.title</legend>
<form action="../doEdit" method="post">
	<ul>
	
	<li>
	<label for="title">Title</label>
    <input name="title" id="title" type="text" value="$waypoint.title">
	</li>

    <li>
    <label>Lat / Lng</label>
    <input name="latitude" id="latitude" type="text" value="$waypoint.latitude"> | <input name="longitude" id="longitude" type="text" value="$waypoint.longitude">
	</li>

    <li>
    <label for="altitude">Altitude</label>
    <input name="altitude" id="altitude" type="text" value="$waypoint.altitude">
	</li>

    <li>
    <label for="type">Type</label>    
    <select name="type" id="type">
    <% for i, type in waypointTypes.items() %>
    	<option value="$i" <% if i == waypoint.type %>selected="selected"<% endif %>> $type</option>
    <% endfor %>
    </select>
	</li>
	
    </ul>
    
    <input name="id" type="hidden" value="$waypoint.id">
    <p class="buttons">
    	<a href="../doDelete/$waypoint.id">delete</a> | <input type="submit" name="operation" value="save & copy to watch" /> | <input type="submit" name="operation" value="save" />
    </p>
</form>
</fieldset>

<p class="info">Double click to add marker. Then drag 'n drop.</p>
<div id="map"></div>

<fieldset><legend>Geocoder</legend>
<form action="#" id="geocoder">
    <input type="text" size="60" name="address" value="78120 Furtwangen, Germany" />
    <input type="submit" value="Go!" />
</form>
</fieldset>