<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAoOnC-lqJNSFyH3kfjFZRnxRi_j0U6kJrkFvY4-OX2XYmEAa76BR1gHXtME6-_ixTZJUWTuVeHfPJlw" type="text/javascript"></script>

<script type="text/javascript">
<!--
	window.addEvent('domready', function() {		
		document.getElements('.selectAll').addEvent('click', function(e){
			this.getParent('table').getElements('tbody input').setProperty('checked', 'checked');
		})

		var map = new Map({center:new GLatLng(37.4419, -122.1419)});

		var bounds = new GLatLngBounds();
		var library = [];
		var remote = [];
		<% if waypointLibrary %>
			<% for waypoint in waypointLibrary %>
				library.include(new GLatLng($waypoint.latitude, $waypoint.longitude));
			<% endfor %>
		<% endif %>
		
		<% if remoteWaypoints %>
			<% for waypoint in remoteWaypoints %>
				remote.include(new GLatLng($waypoint.latitude, $waypoint.longitude));
			<% endfor %>
		<% endif %>
		
		map.add_markers(library, map.tinyIcon_blue);
		map.add_markers(remote, map.tinyIcon_red);
		
		library.combine(remote).each(function(waypoint){
			bounds.extend(waypoint);
		});
		map.map.centerAndZoomOnBounds(bounds);
	});
//-->
</script>

<ul id="secondLevel">
	<li><a href="add">create a new waypoint</a></li>
	<li><a href="batch">batch mode</a></li>
	<li><a href="doDeleteAll">delete all waypoints from watch</a></li>
</ul>

<h1>waypoints</h1>

<% if localWaypoints %>

<h2><img src="http://labs.google.com/ridefinder/images/mm_20_blue.png" /> waypoints on your pc</h2>

<form method="post" action="doCopyToGh">
<table class="waypoints" id="local">
<thead>
    <tr>
        <th>&nbsp;</th>
        <th class="w20">title</th>
        <th class="w20">latitude</th>
        <th class="w20">longitude</th>
        <th>alt</th>
        <th>type</th>
        <th>operation</th>
    </tr>
</thead>
<tbody>
<% for i, waypoint in enumerate(waypointLibrary) %>
    <tr>
        <td><input name="toBeCopied" type="checkbox" value="$i" /></td>
        <td><strong>$waypoint.title</strong></td>
        <td>$waypoint.latitude</td>
        <td>$waypoint.longitude</td>
        <td>$waypoint.altitude</td>
        <td>$waypoint.type</td>
        <td>
        	<a href="edit/$i">edit</a> |
        	<a href="doCopyToGh/$i">copy</a> |
        	<a href="doDelete/$i">delete</a>
        </td>
    </tr>
<% endfor %>
</tbody>
<tfoot>
    <tr>
        <td colspan="6"><a href="#" class="selectAll">select all</a></td>
        <td><input type="submit" value="Copy selected to watch" /></td>
    </tr>
</tfoot>
</table>
</form>

<% else %>
You have not created any waypoints yet. <a href="add">create some!</a>
<% endif %>



<h2><img src="http://labs.google.com/ridefinder/images/mm_20_red.png" /> waypoints on your watch</h2>

<% if remoteWaypoints %>
<form method="post" action="doCopyToLibrary">
<table class="waypoints" id="remote">
<thead>
    <tr>
        <th>&nbsp;</th>
        <th class="w20">title</th>
        <th class="w20">latitude</th>
        <th class="w20">longitude</th>
        <th>alt</th>
        <th>type</th>
        <th>operation</th>
    </tr>
</thead>
<tbody>
<% for i, waypoint in enumerate(remoteWaypoints) %>
    <tr>
        <td><input name="toBeCopied" type="checkbox" value="$i" /></td>
        <td><strong>$waypoint.title</strong></td>
        <td>$waypoint.latitude</td>
        <td>$waypoint.longitude</td>
        <td>$waypoint.altitude</td>
        <td>$waypoint.type</td>
        <td><a href="doCopyToLibrary/$i">copy</a></td>
    </tr>
<% endfor %>
</tbody>
<tfoot>
    <tr>
        <td colspan="6"><a href="#" class="selectAll">select all</a></td>
        <td><input type="submit" value="Copy selected to library" /></td>
    </tr>
</tfoot>
</table>
</form>

<% else %>
<p class="info">
There are no waypoints on your watch. <a href="add">Create some</a>
</p>
<% endif %>

<div id="map"></div>